<header>
	<% if (locals.user) { %>
	<nav class="navbar navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">ERS</a>
			<a class="navbar-brand" href="/">Welcome <%=locals.user.name%></a>
			<form class="d-flex px-4">
                <%if(locals.user.isAdmin){%>                        
                        <a class="navbar-brand p-2" href="/admin/assignWork"> <small>Assign Work</small> </a>
                        <a class="navbar-brand p-2" href="/admin/view-employee"> <small>Employees</small> </a>
                        <a class="navbar-brand p-2" href="/admin/add-employee"> <small> Add Employee </small> </a>
                        <a class="navbar-brand p-2" href="/users/sign-out" style="background-color: red; border-radius: 5px"> <small>LogOut </a> </small>
                        <!-- <span class="nameOfUser"><img src="../images/profile.jpg"><%= locals.user.name%>  </span>  -->
                <%}else{%>     
                    <a class="navbar-brand p-2" href="/users/sign-out" style="background-color: red; border-radius: 5px"> <small>LogOut</small> </a> 
                    <!-- <span class="nameOfUser"><img src="../images/profile.jpg"><%= locals.user.name%>  </span> -->
                <%}%>
			</form>
		</div>
	</nav>
	<% } else { %>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/users/sign-up" style="background-color: green; border-radius: 5px">SignUp</a>
                <a class="navbar-brand" href="/users/sign-in" style="background-color: blue; border-radius: 5px">SignIn</a>
            </div>
        </nav>
    <% } %>
</header>