<form
    class="w-50 mx-auto mt-4"
    id="add-employee"
    action="/users/addEmployee"
    method="post"
    style="
        height: 100%;
        display: grid;
        place-content: center;
        background: white;
        border-radius: 5px;
        box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
        padding: 50px 70px;
    "
>
    <h3 style="text-align: center">Add Employee</h3>
    <fieldset>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" />
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" />
        </div>
        <div class="mb-3">
            <label for="conformPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="conformPassword" name="conformPassword" />
        </div>
    </fieldset>
    <button type="submit" class="btn btn-success align-self-center">Add Employee</button>
</form>